In [3]:
import pandas as pd

There are two core objects in pandas: the DataFrame and the Series
now creating a data Frame

In [5]:
pd.DataFrame({'Yes':[20,50] , 'No':[80 , 50]} , index = ['Before' , 'After'])

        Yes  No
Before   20  80
After    50  50

In [6]:
pd.DataFrame({'Name_1' : ['Kanai'] , 'Name_2' : ['Driptanil']} , index = ['Best Friends'])

             Name_1     Name_2
Best Friends  Kanai  Driptanil

Now creating a serise

In [7]:
pd.Series([39,130])

0     39
1    130
dtype: int64

In [9]:
pd.Series([130 , 39 , 12 , 114] , index = ['U.Roll' , 'U.Roll' , 'ID' , 'ID'],name = 'Institute')

U.Roll    130
U.Roll     39
ID         12
ID        114
Name: Institute, dtype: int64